@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: rubik, sans-serif;
  letter-spacing: -0.05em;
}
.container1 {
  width: 120px;
  height: 120px;
  display: flex;
  place-content: center;
  overflow: hidden;
}

.item {
  width: 30%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}
